@model ModeloAspNetMvc.Models.Caixa.TelaFechamentoDiarioModel

@{
    ViewBag.Title = "FechamentoDiario";
}

@using PagedList.Mvc;
@using PagedList;

<header class="section-header">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h3>Caixa</h3>
                <ol class="breadcrumb breadcrumb-simple">
                    <li><a href="#">ComFacil</a></li>
                    <li class="active">Fechamento Diário</li>
                </ol>
            </div>
        </div>
    </div>
</header>

<section class="card box-block">
    <div class="card-block">
        @using (Html.BeginForm("FechamentoDiario", "Caixa", FormMethod.Get, new { @id = "formPesquisaPedido" }))
        {
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.FiltroDia)
                    @Html.TextBox("FiltroDia", Model.FiltroDia, new { @class = "form-control", @id = "FiltroDia" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Mes)
                    @Html.DropDownListFor(model => Model.Mes, new SelectList(
                        Enumerable.Range(1, 12)
                            .Select(r => new
                            {
                                Text = new DateTime(2000, r, 1).ToString("MMMM"),
                                Value = r.ToString()
                            }),
                        "Value", "Text", Model.Mes), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Ano)
                    @Html.DropDownListFor(model => Model.Ano, new SelectList(
                        Enumerable.Range(2012, 15)
                            .Select(r => new
                            {
                                Text =  r.ToString(),
                                Value = r.ToString()
                            }),
                        "Value", "Text", Model.Ano), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="form-group">
                    <input type="submit" value="Consultar" class="btn btn-primary" />
                </div>
            </div>
        </div>           
        }
    </div>

    @if (Model.Fechamentos.Any())
    {
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr class="table-info">
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().DiaFechamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().CaixaInicioDoDia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().CaixaFinalDoDia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().ValorEntrada)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().ValorDaSaida)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().Saldo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().ValorDaRetirada)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechamentos.FirstOrDefault().Funcionario)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Fechamentos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaFechamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaixaInicioDoDia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CaixaFinalDoDia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorEntrada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorDaSaida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Saldo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorDaRetirada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Funcionario)
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="anchorEntradas" data-id="@item.DiaFechamento">Entradas</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="anchorSaidas" data-id="@item.DiaFechamento">Saídas</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="pager">
                @Html.PagedListPager((IPagedList)Model.Fechamentos, page => Url.Action("FechamentoDiario", new { page }))
            </div>
        </div>
    }
</section>


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">


    const urlExibirEntradas = '@Url.Action("ExibirEntradasDoDia")';
    const urlExibirSaidas = '@Url.Action("ExibirSaidasDoDia")';


    $(function () {

        $("#formPesquisaPedido").submit(function (e) {
            $("#loadingDiv").show();
        });

        $('#FiltroDia').datepicker({
            language: "pt-BR"
        });


        $(".anchorEntradas").click(function () {
            //debugger;
            $("#loadingDiv").show();
            var $buttonClicked = $(this);
            var dia = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: urlExibirEntradas,
                contentType: "application/json; charset=utf-8",
                data: { "diaFechamento": dia },
                datatype: "json",
                success: function (data) {
                   // debugger;
                    $("#loadingDiv").hide();

                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    $("#loadingDiv").hide();

                    alert("Dynamic content load failed.");
                },
            });
        });


        $(".anchorSaidas").click(function () {
           // debugger;
            $("#loadingDiv").show();

            var $buttonClicked = $(this);
            var dia = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: urlExibirSaidas,
                contentType: "application/json; charset=utf-8",
                data: { "diaFechamento": dia },
                datatype: "json",
                success: function (data) {
                   // debugger;
                    $("#loadingDiv").hide();

                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {

                    $("#loadingDiv").hide();

                    alert("Dynamic content load failed.");
                }
            });
        });

        //$("#closbtn").click(function () {
        //    $('#myModal').modal('hide');
        //});
    });


</script>















