@model ModeloAspNetMvc.Models.Venda.VendaPorFuncionarioModel

@{
    ViewBag.Title = "Vendas Por Funcionário";
}

<header class="section-header">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h3>Venda</h3>
                <ol class="breadcrumb breadcrumb-simple">
                    <li><a href="#">ComFacil</a></li>
                    <li class="active">Vendas Por Funcionário</li>
                </ol>
            </div>
        </div>
    </div>
</header>


<section class="card box-block">
    <div class="card-block">
        @using (Html.BeginForm("VendasPorFuncionario", "Venda", FormMethod.Post, new { @id = "formPesquisaVenda" }))
        {
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataInicio)
                        @Html.TextBox("DataInicio", Model.DataInicio, new { @class = "form-control", @id = "DataInicio" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataFim)
                        @Html.TextBox("DataFim", Model.DataFim, new { @class = "form-control", @id = "DataFim" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdFuncionario)
                        @Html.DropDownListFor(model => Model.IdFuncionario, Model.SelectListFuncionarios, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <input type="submit" value="Consultar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Model.ResumoDeVendas != null)
    {
          
     
    <div class="card-block">
        <div class="table-responsive" id="tabelaFuncionarios">
            <table class="table table-bordered">
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(model => model.ResumoDeVendas.First().Funcionario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResumoDeVendas.First().QtdVendas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResumoDeVendas.First().TotalEmVendas)
                    </th>
                </tr>

                @foreach (var item in Model.ResumoDeVendas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QtdVendas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalEmVendas)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="text-right" style="padding-top: 5px">
            <input type="button" value="Imprimir" class="btn btn-secondary" onclick="PrintElem('tabelaFuncionarios')" />
        </div>
    </div>
    }
</section>


<script type="text/javascript">


    $(function () {

        $("#formPesquisaVenda").submit(function (e) {
            $("#loadingDiv").show();
        });

        $('#DataInicio').datepicker({
            language: "pt-BR"
        });

        $('#DataFim').datepicker({
            language: "pt-BR"
        });

    });
    

    function PrintElem(elem) {
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('<h1>' + document.title + '</h1>');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }


</script>















